.navbar {
  padding: 20px 0;
  margin-bottom: 20px;
  width: 100%;
  height: 15%;
  background: #2ac7d6; /* Old browsers */
  background: -moz-linear-gradient(left, #2ac7d6 14%, #29db9a 100%, #7db9e8 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(left, #2ac7d6 14%,#29db9a 100%,#7db9e8 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to right, #2ac7d6 14%,#29db9a 100%,#7db9e8 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2ac7d6', endColorstr='#7db9e8',GradientType=1 ); /* IE6-9 */
}

.logo,
.nav {
  display: inline-block;
  margin: 0;
}

.nav h2{
    font-family: "Indie Flower";
    font-size:50px;
    color:#FFF;
}

/* nav links */
.nav {
  padding: 0;
  margin: 0;
  list-style: none;
}

.nav li {
  display: inline-block;
  margin-left: 40px;
}

.navbar a {
  color: #FFF;
  font-size:20px;
  text-decoration: none;
}

.navbar a:hover {
  color: #DDD;
}

/* if you want pull right nav links */
.nav-right {
  float: right;
  line-height: 39px;
}



/* responsive */
@media screen and (max-width: 677px) {
  .container {
    width: 80%;
  }
}

@media screen and (max-width: 767px) {
  .container {
    width: 90%;
  }
}

@media screen and (min-width: 768px) {
  .container {
    width: 750px;
  }
}

@media screen and (min-width: 992px) {
  .container {
    width: 960px;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}
