
/* ------------- basic style ---------------*/
body {
  padding: 0;
  margin: 0;
  font-family: 'Roboto ', sans-serif;
  font-size: 14px;
  color: #212121;
  line-height: 1.4;
  background-color: #F9F9F9;
}

.container {
  margin: 0 auto;
  width:100%;
}

.container h1 {
    font-family: 'Indie Flower', sans-serif;
    font-size: 60px;
    color:#C2AEB3;
    text-align: center;
}

.container h3, .container h2 {
    font-weight: thin;
    color:#C2AEB3;
}

/*---------------- Bootstrap Carousel -----------------*/
#gallery {
  padding: 10px 0 0 50px;
  background-color: white;
  text-align: center;
  margin: 0 auto;
  margin-bottom: 20px;
  border: 2px solid blue;
}

#gallery h3{
  text-align: center;
  padding: 10px;
}

.gallery-item {
  width: 350px;
  height: 350px;
  float:left;
  margin: 10px;
  overflow: hidden;
  cursor: pointer;
  border: 10px solid #fff;
  border-radius: 5px;
  box-shadow: 0px 0px 5px 2px rgba(0, 0, 0, 0.5);
}

.slideContainer {
    position: relative;
}

.gallery-item:hover {
  opacity: 0.5;
}

/*-----------------Featured Albums----------------------*/

.featuredAlbums {
   width: 80%;
   margin: 50px auto;
   float:left;
}

.featuredAlbums li {
   height: 200px;
   width: 200px;
   margin: 15px;
   float: left;
   overflow: hidden;

   -webkit-border-radius: 50%;
      -moz-border-radius: 50%;
	   border-radius: 50%;
}

.featuredAlbums li img {
   margin-top: -150px;

   -webkit-transition: margin 1.5s ease;
      -moz-transition: margin 1.5s ease;
       -ms-transition: margin 1.5s ease;
        -o-transition: margin 1.5s ease;
           transition: margin 1.5s ease;
}

.featuredAlbums ul {
    width:120%;
    list-style: none;
}

.featuredAlbums li p {
   width: 100px;
   padding: 20px;
   position: relative;
   left: 20%;
   top: 110%; /*set to 110% after this step!*/
	 font-family: 'Roboto', sans-serif;
   color: white;
   text-align: center;
   font-size: 20px;
   text-shadow: 2px 2px 2px rgba(0,0,0,0.5);

   -webkit-transition: top 0.5s ease;
      -moz-transition: top 0.5s ease;
       -ms-transition: top 0.5s ease;
        -o-transition: top 0.5s ease;
           transition: top 0.5s ease;
}

.featuredAlbums li:hover img {
   margin-left: -150px;
   margin-top: -150px;
}

.featuredAlbums li:hover p {
   top: 75%;

}

/* responsive */
@media screen and (max-width: 677px) {
    .featuredAlbums li {
        height: 80px;
        width: 80px;
        margin: 10px;
        float: left;
        overflow: hidden;

        -webkit-border-radius: 50%;
        -moz-border-radius: 50%;
        border-radius: 50%;
    }

    .featuredAlbums li p {
        width: 100px;
        padding: 20px;
        position: relative;
        left: 0%;
        top: 110%; /*set to 110% after this step!*/
        font-family: 'Roboto', sans-serif;
        color: white;
        float: center;
        font-size: 15px;
        text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);

        -webkit-transition: top 0.5s ease;
        -moz-transition: top 0.5s ease;
        -ms-transition: top 0.5s ease;
        -o-transition: top 0.5s ease;
        transition: top 0.5s ease;
    }
}


/*-------------------user page-----------------------*/

#albums{
    width: 100%;
    display: inline-block;
    vertical-align: top;
    text-align: center;
    margin-top: 20px;

}

.div2albums{
    width: 100%;
}

.userGallery {
    width: 760px;
    padding: 10px;
    background: #fff;
    box-shadow: 0 1px 2px rgba(0, 0, 0, .3);
    display: inline-block;
    vertical-align: top;
    margin: 10px;
}

.userGallery div img {
    width: 175px;
    transition: .1s transform;
    transform: translateZ(0);
    margin-left: auto;
    margin-right: auto;
    display: block;
}

.userGallery div:hover {
    z-index: 1;
}

.userGallery div:hover img {
    transform: scale(1.7,1.7);
    transition: .3s transform;
}

.userGallery h2{
    font-family: "Indie Flower";
    text-align: center;
}

.userGallery h3{
    font-family: "Indie Flower";
    text-align: center;
}

.cf:before, .cf:after {
    display: table;
    content: "";
    line-height: 0;
}

.cf:after {
    clear: both;
}

.galleryLeft {
    float: left;
    position: relative;
    display: inline-block;


}

.galleryRight {
    float: right;
    position: relative;
    display: inline-block;

}


.userGallery .btnalbumcontrols{
    width: 100%;
    display: inline-block;
}

/*---------------- user page buttons -----------------*/

.btn{
  padding-top: 10px;
  background: #2ac7d6; /* Old browsers */
  background: -moz-linear-gradient(left, #2ac7d6 14%, #29db9a 100%, #7db9e8 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(left, #2ac7d6 14%,#29db9a 100%,#7db9e8 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to right, #2ac7d6 14%,#29db9a 100%,#7db9e8 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2ac7d6', endColorstr='#7db9e8',GradientType=1 ); /* IE6-9 */
}

.btn:hover{
    background-color: #2ac7d6;
    box-shadow: 0 9px #999;
}

.btnAP, .btnEA, .btnVA, .btnDE{
    width: 23%;
}

.btnVA, .btnAP, .btnEA{
    margin-right: 2%;
;
}

.loadMore{
 width: 100%;
  display: inline-block;
  text-align: center;
  margin-top:20px;
  margin-bottom:20px;
}

.userButtons{
  width: 90%;
  padding-top: 20px;
  padding-bottom: 20px;
}

.btnNewAlbum{
  float: right;
}

.btnAddPosts{
  margin-left: 30%;
}

.userSearch{
  float: left;
  display: inline-block;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  padding: 10px 20px;
  border: 3px solid rgba(0,212,255,0.75);
  -webkit-border-radius: 12px;
  border-radius: 12px;
  font-family: normal 18px/normal "Indie-Flower"
  color: rgba(0,175,239,1);
  text-align: center;
  -o-text-overflow: clip;
  text-overflow: clip;
  background: rgba(252,252,252,1);
  -webkit-box-shadow: 2px 2px 2px 0 rgba(0,0,0,0.2) inset;
  box-shadow: 2px 2px 2px 0 rgba(0,0,0,0.2) inset;
  text-shadow: 1px 1px 0 rgba(255,255,255,0.66) ;
  -webkit-transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1);
  -moz-transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1);
  -o-transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1);
  transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1);
}

/*---------------- User Settings -----------------*/

.userSettings{
  text-align:center;
}

.btn-US{
  margin-bottom: 20px;
  margin-right: 0%;
}

.accountSettings input{
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

.accountSettings label{
    font-family: "Roboto";
    color: #C2AEB3;
    float: left;
}

/*---------------- New Album -----------------*/

.newAlbum {
  float: left;
  clear: none;
  width:100%;
  text-align:center;
}

.newAlbum label {
  float: left;
  clear: none;
  display: inline-block;
  padding: 2px 1em 0 0;
}

.radioNA{
  width:50%;
}

.radioNA label{
  display:inline-block;
}

input[type="radio"] {
    display:inline-block;
}

/*---------------- New Post -----------------*/

/*---------------- Dialog boxes-------------*/
.no-close .ui-dialog-titlebar-close {
    display: none;
}
